
<!--Call spinner-->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="rgb(152, 214, 218)" type="timer">
  <p style="font-size: 20px; color: white">{{message}}</p>
</ngx-spinner>


<div *ngIf="canDoInventory">

  <br>
  <h3 style="text-align: center;">Inventarios a la fecha</h3>
  <br>

  <div class="row" *ngIf="canCreate">
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-large btn-block bold" style="font-size: 17px;"
        (click)="openCreateModal()">Aperturar inventario</button>
    </div>
  </div>

  <br>
  <br>

  <div *ngIf="showProducExistence" class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-3">
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-2">
      <a href="{{coreURL}}api/inventory/GenerateInventoryPDF" style="font-size: 18px;" class="btn btn-primary btn-large btn-block bold"> 
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;Descargar inventarios</a>
    </div>

  </div>
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchTextPage1"
          [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-bordered table-condensed">
      <thead>
        <tr class="table_Header_Color">
          <th>Código</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Fecha de apertura</th>
          <th>Fecha de cierre</th>
          <th *ngIf="showProducExistence">Valor del inventario</th>
          <th>Usuario</th>
          <th class="right" *ngIf="canCountItem"></th>
          <th class="right" *ngIf="canClosed"></th>
          <th class="right" *ngIf="exportExcel"></th>
          <th class="right" *ngIf="canDelete"></th>
          <th class="right" *ngIf="canEdit"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of inventories | filter : searchTextPage1 | paginate: { itemsPerPage: 10, currentPage: p1, id: 'page1'}">
          <td>{{item.Id}}</td>
          <td>{{item.Description}}</td>
          <td class="td_min"> <span class="{{item.StatusColour}} center bold">{{item.Status}}</span> </td>
          <td>{{item.OpenDate}}</td>
          <td>{{item.ClosedDate}}</td>
          <td *ngIf="showProducExistence">{{item.TotalAmount | currency}}</td>
          <td>{{item.UserName}}</td>

          <td class="right" *ngIf="canCountItem"> <button type="button" [disabled]="item.StatuShortName !== 'Open' "
            class="btn btn-success bold" (click)="openModalCountItem(item)">Contar items</button> </td>

          <td class="right" *ngIf="canClosed"> <button type="button" [disabled]="item.StatuShortName !== 'Open' "
              class="btn btn-warning bold" style="color: white;" (click)="closedInventory(item.Id)">Cerrar
              inventario</button> </td>

          <td class="right" *ngIf="exportExcel"> <a href="{{coreURL}}api/inventory/GenerateInventoryExcel?id={{item.Id}}" class="btn btn-primary bold" >Exportar a excel</a> </td>

        <td class="right" *ngIf="canEdit"><button type="button" class="btn btn-primary bold"
          [disabled]="item.StatuShortName !== 'Open' " (click)="openEditModal(item.Id)"><i
          class="fa fa-pencil" style="font-size: 20px;"></i></button></td>
 
        <td class="right" *ngIf="canDelete"> <button type="button" [disabled]="item.StatuShortName !== 'Open' "
          class="btn btn-danger bold" (click)="delete(item.Id)"><i class="fa fa-remove" style="font-size: 20px;"></i></button>
        </td>
    
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p1 = $event" id="page1" autoHide="true" responsive="true"
      previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
  </div>


  <br>
  <br>
  <div class="row" *ngIf="showProducExistence">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <button type="button" class="btn btn-success btn-large btn-block bold" style="font-size: 17px;"
        (click)="getAll()"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Refrescar</button>
    </div>

    <div class="col-md-4">
    </div>
  </div>

  <br>

  <div class="row" *ngIf="showProducExistence">

    <div class="col-md-4">
    </div>

    <div class="col-md-4">

        <div class="card" style="background-color: rgb(151, 212, 17);">

            <div class="table-responsive">
                <table class="table detail-resumen">

                    <tbody>
                      <tr class="bold">
                        <td>Valor general del inventario:</td>
                        <td>{{inventoryTotalValue | currency}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="col-md-4">
    </div>

  </div>

</div>


<span *ngIf="!canDoInventory" class="bold center" style="font-size: 20px;">Usted notiene permiso para hacer inventario</span>



<!--Create modal-->
<ng-template #createModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nuevo inventario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="createForm" (submit)="create(createForm.value)">

      <label for="Descripción" class="bold">Descripción</label>
      <div class="input-group mb-3">
        <input type="text" formControlName="description" class="form-control">
        <div *ngIf="!createForm.value.description" class="required">*</div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary btn-large btn-block bold" style="font-size: 18px;"
            [disabled]="createForm.invalid">Guardar</button>
        </div>
      </div>

    </form>

  </div>

</ng-template>


<!--Edit modal-->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{inventory.Description}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="editForm" (submit)="edit(editForm.value)">

      <label for="Descripción" class="bold">Descripción</label>
      <div class="input-group mb-3">
        <input type="text" formControlName="description" class="form-control">
        <div *ngIf="!editForm.value.description" class="required">*</div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary btn-large btn-block bold" style="font-size: 18px;"
            [disabled]="editForm.invalid">Guardar</button>
        </div>
      </div>

    </form>

  </div>

</ng-template>



<!--Edit count item-->
<ng-template #countItemModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Conteo físico de: <span style="color: red;">{{currentUserNameByInventory}}</span> </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-md-9">
        <div class="form-group">
          <input type="text" [(ngModel)]="searchItem" id="searchItem" class="form-control bold"
          (keydown.enter)="getItems(searchItem)" placeholder="Ingrese el parámetro de busqueda">

        </div>
      </div>

      <div class="col-md-3">
        <button type="button" class="btn btn-primary btn-large btn-block bold"
         (click)="getItems(searchItem)" style="font-size: 20px;"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;Buscar items</button>
      </div>

    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-md-4">
          <button type="button" class="btn btn-primary btn-large btn-block bold"
           (click)="getInventoryDetails_Paginated()" style="font-size: 20px;"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Refrescar</button>
      </div>

      <div class="col-md-4">
        <span class="bold" style="font-size: 22px;">Total de items : {{objetPaginated?.Pagination?.TotalRecord}}</span>
      </div>

      <div class="col-md-4">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="form-group">
          <input type="text" class="form-control bold" placeholder="Buscar items que he contado" [(ngModel)]="strInputDetail"
          (keyup.enter)="_getInventoryDetails_Paginated_Next(1)" (ngModelChange)="getInventoryDetails_Paginated_Next(1)" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr class="table_Header_Color">
            <th></th>
            <th></th>
            <th>Código externo</th>
            <th>Descripción</th>
            <th>Código de barra</th>
            <th>Referencia</th>
            <th *ngIf="showProducExistence">Cantidad actual</th>
            <th>Cantidad contada</th>
            <th *ngIf="showProducExistence">Diferencia</th>
            <th *ngIf="userData.ShowCost">Costo anterior</th>
            <th *ngIf="userData.ShowPrice">Precio anterior</th>
            <th *ngIf="userData.ShowCost">Costo actual</th>
            <th *ngIf="userData.ShowPrice">Precio actual</th>
            <th *ngIf="showProducExistence">Valor del inventario</th>
            <th *ngIf="userData.ShowSection">Tramo</th>
            <th *ngIf="userData.ShowTariff">Bandeja</th>
            <th>Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of inventoryDetails | paginate: { itemsPerPage: objetPaginated?.Pagination?.PageRow, currentPage: p2, totalItems: objetPaginated?.Pagination?.TotalRecord, id: 'page2'}">
            <td class="right"> <button type="button" class="btn btn-danger bold" (click)="deleteInventoryDetail(item.InventoryDetailId)">
              <i class="fa fa-remove" style="font-size: 30px;"></i></button>
            </td>
            <td class="right"><button type="button" class="btn btn-primary bold" (click)="editInventoryDetail(item)">
              <i class="fa fa-pencil" style="font-size: 30px;"></i></button></td>
            <td>{{item.ExternalCode}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.BarCode}}</td>
            <td>{{item.Reference}}</td>
            <td *ngIf="showProducExistence">{{item.Existence}}</td>
            <td>{{item.Quantity}}</td>
            <td class="bold" *ngIf="showProducExistence" [ngStyle]="{'color': item.Difference >= 0 ? 'rgb(4, 155, 4)' : 'rgb(158, 12, 12)'}">{{item.Difference}}</td>
            <td *ngIf="userData.ShowCost">{{item.OldCost | currency}}</td>
            <td *ngIf="userData.ShowPrice">{{item.OldPrice | currency}}</td>
            <td *ngIf="userData.ShowCost">{{item.Cost | currency}}</td>
            <td *ngIf="userData.ShowPrice">{{item.Price | currency}}</td>
            <td class="bold" *ngIf="showProducExistence" [ngStyle]="{'color': item.Difference >= 0 ? 'rgb(4, 155, 4)' : 'rgb(158, 12, 12)'}">{{item.TotalAmount | currency}}</td>
            <td *ngIf="userData.ShowSection">{{item.SectionDescription}}</td>
            <td *ngIf="userData.ShowTariff">{{item.TariffDescription}}</td>
            <td>{{item.UserName}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="getInventoryDetails_Paginated_Next((p2 = $event))" id="page2" previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
    </div>

  </div>

</ng-template>



<!--Show item-->
<ng-template #showItemModal let-modal>
  <div class="modal-header">
    <h5 class="bold" style="color: red;">{{items[0].Description}} <span style="color: black;"> Ref : </span> {{items[0].Reference}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <form [formGroup]="countItemForm" (submit)="saveItem(countItemForm.value)">

      <label for="cost" class="bold" *ngIf="userData.ShowCost">Costo</label>
      <div class="input-group mb-3" *ngIf="userData.ShowCost">
        <input type="number" formControlName="cost" class="form-control">
      </div>

      <label for="price" class="bold" *ngIf="userData.ShowPrice">Precio</label>
      <div class="input-group mb-3" *ngIf="userData.ShowPrice">
        <input type="number" formControlName="price" class="form-control">
      </div>

      <div *ngIf="showProducExistence">
        <label for="existence" class="bold">Cantidad actual</label>
        <div class="input-group mb-3">
          <input [disabled]="true" id="existence" type="number" [(ngModel)]="items[0].Existence" [ngModelOptions]="{standalone: true}" class="form-control">
        </div>
      </div>

      <label for="currentQuantity" class="bold">Cantidad Contada</label>
      <div class="input-group mb-3">
        <input id="currentQuantity" type="number" formControlName="quantity" class="form-control">
        <div *ngIf="!countItemForm.value.quantity" class="required">*</div>
      </div>

      <div *ngIf="userData.ShowSection">
        <label class="bold">Seleccione el tramo</label>
        <ng-select class="bold" [items]="sections" bindLabel="Description" bindValue="Id" virtualScroll="true" 
          formControlName="sectionId">
        </ng-select>
      </div>

      <br>

      <div *ngIf="userData.ShowTariff">
        <label class="bold">Seleccione la bandeja</label>
        <ng-select class="bold" [items]="tariffs" bindLabel="Description" bindValue="Id" virtualScroll="true"
          formControlName="tariffId">
        </ng-select>
      </div>

      <br>
      <div class="row">
        <div class="col-sm-12">
          <button id="saveItem" type="submit" class="btn btn-primary btn-large btn-block bold"
            style="font-size: 18px;" [disabled]="countItemForm.invalid">Guardar</button>
        </div>
      </div>

    </form>

  </div>

</ng-template>


<!--Show items-->
<ng-template #showItemsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Items encontrados {{items.length}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <div class="table-responsive">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr class="table_Header_Color">
            <th></th>
            <th>Código externo</th>
            <th>Descripción</th>
            <th>Código de barra</th>
            <th>Referencia</th>
            <th *ngIf="showProducExistence">Cantidad</th>
            <th *ngIf="userData.ShowCost">Costo</th>
            <th *ngIf="userData.ShowPrice">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of items | filter : searchText | paginate: { itemsPerPage: 10, currentPage: p3, id: 'page3'}">
            <td class="right"> <button type="button" class="btn btn-primary bold"
              (click)="addItemToCount(item)">Seleccionar</button> </td>
            <td>{{item.ExternalCode}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.BarCode}}</td>
            <td>{{item.Reference}}</td>
            <td *ngIf="showProducExistence">{{item.Existence}}</td>
            <td *ngIf="userData.ShowCost">{{item.Cost | currency}}</td>
            <td *ngIf="userData.ShowPrice">{{item.Price | currency}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p3 = $event" id='page3' autoHide="true" responsive="true"
        previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
    </div>

  </div>

</ng-template>